{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <p class="date">
      Published {{ post.publish }} by {{ post.author }}
  </p>
  {{ post.body|linebreaks }}
  <a href="{% url 'blog:post_share' post.id %}">Share this post via e-mail</a>
  {% with comments.count as total_comments %}
     <h2>
       {{ total_comments }} comment{{ total_comments|pluralize }}
     </h2>
  {% endwith %}
  {% for comment in comments %}
    <h3>{{ comment.email }}</h3>
    {{ comment.body|linebreaks }}
  {% endfor %}
  <h2>Make your comment</h2>
  <form action="." method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Add comment"></p>
  </form>
{% endblock %}